.App {
  text-align: center;
}

.ListOfFriends {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.SelectedList {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


